@import "tailwindcss";
@plugin './hero.js';
@source '../../src/**/*.{js,ts,jsx,tsx}';
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

/* Scrollbar styling for the textarea */
.textarea-scrollbar {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #4b5563 transparent; /* Firefox */
  scrollbar-gutter: stable;
}
.textarea-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.textarea-scrollbar::-webkit-scrollbar-thumb {
  background-color: #374151; /* gray-700 */
  border-radius: 9999px;
}
.textarea-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #4b5563; /* gray-600 */
}
.textarea-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

@theme inline {
  --animate-first: moveVertical 30s ease infinite;
  --animate-second: moveInCircle 20s reverse infinite;
  --animate-third: moveInCircle 40s linear infinite;
  --animate-fourth: moveHorizontal 40s ease infinite;
  --animate-fifth: moveInCircle 20s ease infinite;

  @keyframes moveHorizontal {
    0% {
      transform: translateX(-50%) translateY(-10%);
    }
    50% {
      transform: translateX(50%) translateY(10%);
    }
    100% {
      transform: translateX(-50%) translateY(-10%);
    }
  }

  @keyframes moveInCircle {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes moveVertical {
    0% {
      transform: translateY(-50%);
    }
    50% {
      transform: translateY(50%);
    }
    100% {
      transform: translateY(-50%);
    }
  }
}

@theme inline {
  --animate-aurora: aurora 60s linear infinite;
  @keyframes aurora {
    from {
      background-position: 50% 50%, 50% 50%;
    }
    to {
      background-position: 350% 50%, 350% 50%;
    }
  }
}

/* src/styles/scrollbar.css */

.scrollbar-clean {
  scrollbar-width: thin;
  scrollbar-color: #a3a3a3 #e5e5e5; /* Firefox */

  /* WebKit */
}
.scrollbar-clean::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scrollbar-clean::-webkit-scrollbar-track {
  background: #e5e5e5;
  border-radius: 8px;
}

.scrollbar-clean::-webkit-scrollbar-thumb {
  background-color: #a3a3a3;
  border-radius: 8px;
  border: 2px solid #e5e5e5;
}

.scrollbar-clean::-webkit-scrollbar-thumb:hover {
  background-color: #737373;
}

/* Hides the scrollbar buttons (arrows) */
.scrollbar-clean::-webkit-scrollbar-button {
  display: none;
  height: 0;
  width: 0;
}

/* Dark mode */
.dark .scrollbar-clean::-webkit-scrollbar-track {
  background: #171717;
}
.dark .scrollbar-clean::-webkit-scrollbar-thumb {
  background-color: #525252;
  border: 2px solid #171717;
}
.dark .scrollbar-clean::-webkit-scrollbar-thumb:hover {
  background-color: #3f3f3f;
}
